<ul class="breadcrumb">
	<li><%= link_to "Uploads", uploads_path %> <span class="divider">/</span></li>
	<li class="active">All</li>
</ul>

<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>File</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @uploads.each do | upload | %>
		<tr>
			<td><%= link_to upload.id, upload_path(upload) %></td>
			<td><%= truncate upload.description, length: 40 %></td>
			<td><%= link_to upload.file_url, upload.file_url %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="well">
		<%= link_to "New Upload", new_upload_path, class: "btn btn-primary" %>
</div>
