<ul class="breadcrumb">
	<li><%= link_to "Uploads", uploads_path %> <span class="divider">/</span></li>
	<li class="active">New</li>
</ul>

<%= render "layouts/error_notification", target: @upload %>

<form action="/" enctype="multipart/form-data" method="post" id="form_upload" target="iframe_upload">
	<div class="control-group file optional">
		<label class="file optional control-label" for="upload_file">* File</label>
		<div class="controls">
			<input class="file optional" id="upload" name="upload" type="file"><br/>
			<span id="upload_percentage"></span>&nbsp;<span id="upload_file_path"><%= link_to_if @upload.file_url.present?, @upload.file_url %></span>
		</div>
	</div>
</form>
<iframe id="iframe_upload" name="iframe_upload"></iframe>

<%= simple_form_for @upload, :html => { :class => 'form-vertical' } do |f| %>
<%= f.input :file_url, as: :hidden %>
<%= f.input :description, as: :text, input_html: {class: "input-xlarge", rows: 10} %>
<div class="form-actions">
	<%= f.button :submit, :class => 'btn-primary' %>
	<%= link_to "Cancel", uploads_path, class: "btn" %>
</div>
<% end %>

<script src="http://ec2-23-22-70-95.compute-1.amazonaws.com/socket.io/socket.io.js"></script>
<%= javascript_include_tag "uploads" %>
