<ul class="breadcrumb">
	<li><%= link_to "Uploads", uploads_path %> <span class="divider">/</span></li>
	<li class="active">New</li>
</ul>

<%= simple_form_for @upload, :html => { :class => 'form-vertical', multipart: true } do |f| %>
	<% if f.error_notification %>
		<div class="alert alert-error fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<%= f.error_notification %>
		</div>
	<% end %>
	<div id="file-uploader-demo1">		
		<noscript>			
			<p>Please enable JavaScript to use file uploader.</p>
			<!-- or put a simple form for upload here -->
		</noscript>         
	</div>
	<%= f.input :description, as: :text %>
	<div class="form-actions">
		<%= f.button :submit, :class => 'primary' %>
	</div>
<% end %>

<script>        
function createUploader(){            
	var uploader = new qq.FileUploader({
		element: document.getElementById('file-uploader-demo1'),
		action: '<%= uploads_path %>',
		debug: true,
		multiple: false
	});           
}
// in your app create uploader as soon as the DOM is ready
// don't wait for the window to load  
$(createUploader);     
</script>