<ul class="breadcrumb">
	<li><%= link_to "Uploads", uploads_path %> <span class="divider">/</span></li>
	<li class="active">#<%= @upload.id %></li>
</ul>
	
<p><strong>File</strong><br/> <%= link_to @upload.file_url, @upload.file_url %></p>
<p><strong>Description</strong><br/> <%= simple_format @upload.description %></p>

<div class="well">
	<%= link_to "Back", uploads_path, class: "btn" %>
</div>